* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: 0.5s;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: flex-start;
  justify-content: flex-start;
}

.wid {
  padding: 2rem;
  height: 65%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mid {
  padding: 1rem;
  height: 35%;
  width: 100%;
  background-color: #444;
}

.hed {
  display: flex;
  justify-content: space-between;
}

.bot {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ico {
  font-size: 5rem;
}

.th1 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 157, 255, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(./wallpapers/smoke.jpg);
  color: rgb(185, 223, 255);
}

.th2 {
  background-image: linear-gradient(
      to bottom,
      rgba(66, 52, 52, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(./wallpapers/wave.jpg);
  color: rgb(0, 52, 52);
}

.clock {
  font-size: 5rem;
}

.greet {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.date {
  font-size: 1.5rem;
}

.tod {
  font-size: 2rem;
}

.glo + .tod {
  filter: opacity(0);
}

.mid h1 {
  padding: 1rem;
  font-size: 2rem;
  color: #ccc;
  text-align: center;
  background-color: #333;
  border-radius: 1rem;
}

.opt {
  display: grid;
  color: #ccc;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #333;
}

.but {
  background-color: #333;
  border: 2px solid #444;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

.bcont {
  justify-self: center;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  display: flex;
  background-color: #444;
  width: 3rem;
  border-radius: 100rem;
}

.three {
  justify-content: flex-end;
}

.three .but {
  background-color: green !important;
  border: 2px solid greenyellow !important;
}

.two {
  justify-content: flex-end;
}

.two .but {
  background-color: green !important;
  border: 2px solid greenyellow !important;
}

.one {
  justify-content: flex-end;
}

.one .but {
  background-color: green !important;
  border: 2px solid greenyellow !important;
}

.light {
  background-color: white;
}

.light h1 {
  background-color: #ccc;
  color: #333;
}

.light .opt {
  background-color: #ccc;
  color: #333;
}

.light .bcont {
  background-color: white;
  color: #333;
}

.light .bcont .but {
  background-color: white;
  color: #aaa;
  border: 2px solid grey;
}
